{% extends 'MainPage.html' %}
{% load static cms_tags menu_tags sekizai_tags %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/style_blog.css' %}"/>
{% endblock %}
{% block content %}
	<main class="post">
		<div class="container">
			<div class="post-wrapper">
				<h1 class="post-title">{{ post.title_post }}</h1>
				<span class="post-info">
            		<span class="post-date">{{ post.date_create }} |</span>
					<span class="post-category">{{ post.category.category }}</span>
          		</span>
			</div>
		</div>
		<hr class="divider"/>
		<div class="container">
			<div class="post-text">
				{{ post.content|safe }}
			</div>
			<button class="btn">
				<a href="{% page_url 'blog' %}">
					<svg width="140px" height="40px" viewBox="0 0 140 40" class="border">
						<polyline points="139,1 139,39 1,39 1,1 139,1" class="bg-line"></polyline>
						<polyline points="139,1 139,39 1,39 1,1 139,1" class="hl-line"></polyline>
					</svg>
					<span>&larr; Назад</span>
				</a>
			</button>
		</div>
	</main>
{% endblock content %}
