@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    padding: 0;
    margin: 0;

}


body {
    font-size: 18px;
    color: var(--basic-black);
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
    padding: 0 10px;
}

.posts-list {
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-img {
    display: block;
    width: 100%;
    margin: 50px auto 15px auto;
    height: 160px;
    background-color: var(--basic-red);
}

.post-descr {
    width: 255px;
    text-align: center;
    margin-top: 30px;
}

.posts-list {
    list-style-type: none;
}

.posts-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}


.post-item > a {
    display: flex;
    flex-direction: column;
    padding: 8px 15px 50px 15px;
    align-items: center;
    width: 455px;
    min-height: 455px;
    background-color: var(--basic-gray);
    margin-bottom: 70px;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    color: inherit;
}

.post-item a:hover {
    background-color: var(--basic-gray-4);
    color: var(--basic-white);
}

.reviews-list {
    margin-top: 120px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
}

.reviews-page {
    overflow-y: hidden;
}

.reviews-img {
    width: 140px;
    height: 140px;
    border: 0;
    border-radius: 100%;
}

.reviews-title {
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center;
    color: var(--basic-black);
}

.reviews-item {
    width: 240px;
    text-align: center;
}

.reviews {
    position: relative;
    height: 100vh;
}

.slick-slider,
.slick-list {
    position: static;
}

.slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slick-dots li::marker {
    content: none;
}

.slick-dots button {
    visibility: hidden;
    width: 20px;
    height: 4px;
    margin-right: 7px;
}

.slick-dots button::before {
    visibility: visible;
    cursor: pointer;
    display: block;
    content: '';
    width: 20px;
    height: 4px;
    background: #c4c4c4;
}

.slick-dots .slick-active button::before {
    background: var(--basic-black);
}

.reviews-descr {
    margin-top: 40px;
    font-weight: 500;
    text-align: center;
    color: var(--basic-black);
    padding: 0 25px;
}

.categories-svg {
    background-color: var(--basic-dark-gray);
    width: 285px;
    height: 235px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-svg img{
    border-radius: 15px;
    width: 100%;
    height: 200px;
}

.categories-svg:hover {
    background-color: var(--basic-gray-hover);
}


.categories-list {
    justify-content: space-around;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.categories-item {
    margin: 0 0 40px 0;
    width: 285px;
}

.categories-title {
    text-align: center;
    margin-top: 9px;
    font-weight: 500;
    color: var(--basic-black);
}

.post-wrapper {
    margin-top: 23px;
}

.post-title {
    font-weight: 500;
    color: var(--basic-black);
}

.post-info {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: var(--basic-gray-2);
    margin-top: 15px;
}

.post-category {
    margin-left: 5px;
}

.post-text {
    margin-top: 45px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.divider {
    margin-top: 15px;
}

.letter-form {
    margin-top: 30px;
}

.letter-form label,
textarea {
    display: block;
}

.letter-form input {
    display: block;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #a0a0a0;
    margin-top: 10px;
    padding: 10px;
    height: 43px;
    width: 100%;
    background: var(--basic-white);
    border: 1px solid var(--basic-gray-3);
}

textarea {
    outline: none;
    margin-top: 10px;
    padding: 14px 0 0 17px;
    width: 100%;
    height: 500px;
    background: var(--basic-white);
    border: 1px solid var(--basic-gray-3);
    color: var(--basic-gray-3);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.mt30 {
    margin-top: 30px;
}

.letter-submit {
    display: block;
    cursor: pointer;
    margin: 50px auto;
    background: var(--basic-white);
    border: 2px solid var(--basic-gray-3);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-gray-3);
}

.submit-info {
    display: block;
    margin-top: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-black);
}

.letter .container {
    position: relative;
}

.letter-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 115px;
}

.note-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(var(--basic-black));
}

.note-info {
    margin-top: 55px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--basic-black);
}

@media (max-width: 950px) {
    .posts-list {
        justify-content: space-around;
    }

    .post-item > a {
        width: 400px;
    }

    .letter-header {
        column-gap: 50px;
    }
}

@media (max-width: 768px) {
    .post-item > a {
        width: 350px;
    }
}

@media (max-width: 576px) {

    .post-item {
        width: 350px;
    }

    .note-title {
        font-size: 18px;
    }

    .note-info {
        font-size: 17px;
        margin-top: 30px;
    }
}

@media (max-width: 460px) {
    .posts-list {
        justify-content: space-around;
    }

    .post-item > a {
        width: 350px;
    }

    .note-title {
        font-size: 18px;
    }

    .note-info {
        font-size: 17px;
        margin-top: 30px;
    }

    .reviews-title {
        font-size: 26px;
    }
}


.btn {
    width: 140px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #7b7b7b;
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
    margin: 10px 0;
}

.btn a {
    text-decoration: none;
}

.btn svg {
    position: absolute;
    left: -1px;
    top: -1px;
    fill: none;
    stroke: #ffa54b;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #494949;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: #000000;
    font-size: 18px;
    font-weight: 100;
}
