{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap"
		  rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/slick.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/slick-theme.css" %}"/>
	<link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
	<link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>

<form class='form-login' method='post' action=''>
	{% csrf_token %}
	<h2>Вход</h2>
	<div class="input-login-form">
		{{ form.phone }}
	</div>
	<div class="input-login-form">
		{{ form.password }}
	</div>
	<div class="input-login-form">
		<input type="submit" value="Войти">
	</div>
</form>
</body>
<script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</html>

